[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-jazzmin = "*"
djangorestframework = "*"
django-select2 = "*"
django-debug-toolbar = "*"
django-recaptcha = "*"
django-ckeditor = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
fontawesomefree = "*"
django-material = "*"
django-import-export = "*"
mysqlclient = "*"
django-utils-six = "*"
requests = "*"
whitenoise = "*"
django-jet-reboot = "*"
django-js-asset = "*"
django-materializecss-form = "*"
django-timezone-field = "*"
jinja2 = "*"
pdfkit = "*"
pyparsing = "*"
redis = "*"
six = "*"
sqlparse = "*"
pandas = "*"
openpyxl = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-wkhtmltopdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
