{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block title %} Custom Functions {% endblock %}

{% block breadcrumb %} <a href="{% url 'dashboard' %}">Dashboard</a>  /  <a href="{% url 'userloans' %}">Loan</a> {% endblock %}
{% block breadcrumb_active %} Custom {% endblock %}
{% block dashboard_title %} Functions {% endblock %}

{% block content %}


 

  <!-- Content Goes Here -->
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card mt-2 p-1">
        <div class="card-header bg-secondary m-0 pt-2 pr-1 pb-0 pl-2">
          <h5 class="text-light">Custom Functions</h5>
        </div>
        <div class="card-body m-0 p-2">
           <div class="m-3">
            <a href="{% url 'upload_payments' %}" class="btn btn-primary btn-block">Upload Payments</a>
            
           </div>
           <div class="m-3">
            <a href="{% url 'upload_new_loan' %}" class="btn btn-primary btn-block">Upload New Loans</a>
            
           </div>
           <div class="m-3">
            <a href="{% url 'direct_loan_update' %}" class="btn btn-primary btn-block">Direct Loan Update</a>
            
           </div>
           <div class="m-3">
            <a href="{% url 'classify_loan_complete' %}" class="btn btn-info btn-block">Classify Loan Complete</a>
            
           </div>
           <div class="m-3">
            <a href="{% url 'register_loan_holiday' %}" class="btn btn-info btn-block">Register Loan Holiday</a>
           </div>
           <div class="m-3">
            <a href="{% url 'register_default' %}" class="btn btn-info btn-block">Register Default</a>
            </div>
            <div class="m-3">
            <a href="{% url 'register_additional_loan' %}" class="btn btn-info btn-block">Register Additional Loan</a>
            </div>

            <div class="m-3">
              <a href="{% url 'add_additional_loan' %}" class="btn btn-success btn-block">Add Additional Loan</a>
            </div>

            <div class="m-3">
              <a href="{% url 'add_new_loan' %}" class="btn btn-secondary btn-block">Add New Loan</a>
            </div>

            <div class="m-3">
              <a href="{% url 'end_loan' %}" class="btn btn-dark btn-block">End Loan</a>
            </div>

            <div class="m-3">
              <a href="{% url 'reset_indcc' %}" class="btn btn-dark btn-block">RESET IN-DCC</a>
            </div>

           </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Ends Here -->

 
{% endblock %}
