{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block title %} Loan Holiday for {{ loan_ref }} {% endblock %}

{% block breadcrumb %} <a href="{% url 'dashboard' %}">Dashboard</a>  /  <a href="{% url 'loans' %}">Loans</a> {% endblock %}
{% block breadcrumb_active %} Payment for Loan Holiday {% endblock %}
{% block dashboard_title %} {{ loan_ref }} {% endblock %}



{% block content %}


<!-- Content Goes Here -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card mt-2 p-1">
        <div class="card-header bg-secondary m-0 pt-2 pr-1 pb-0 pl-2">
            <h4 class="text-light">Register Loan Holiday Payment</h4>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="loan_ref" class="form-label">Loan Reference</label>
                <input type="text" class="form-control" id="loan_ref" name="loan_ref">
                <label for="date_for_repayment" class="form-label">Repayment Date for Holiday</label>
                <input type="date" class="form-control" id="date_for_repayment" name="date_for_repayment" required>
                <label for="date_of_payment" class="form-label">Date of Payment</label>
                <input type="date" class="form-control" id="date_of_payment" name="date_of_payment" required>
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
                <label for="statement" class="form-label">statement</label>
                <input type="text" class="form-control" id="statement" name="statement" required>
                <label for="loan_holiday_funding_receipt" class="form-label">Loan Holiday Funding Receipt</label>
                <input type="file" class="form-control" id="loan_holiday_funding_receipt" name="loan_holiday_funding_receipt">

              </div>
              <br>
              <button type="submit" class="btn btn-primary">REGISTER</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Content Ends Here -->

 
{% endblock %}