{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block title %} Register Refund {% endblock %}

{% block breadcrumb %} <a href="{% url 'dashboard' %}">Dashboard</a>  /  <a href="{% url 'loans' %}">Loans</a> {% endblock %}
{% block breadcrumb_active %} Register Refund {% endblock %}
{% block dashboard_title %} {{ loan_ref }} {% endblock %}



{% block content %}


<!-- Content Goes Here -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card mt-2 p-1">
        <div class="card-header bg-secondary m-0 pt-2 pr-1 pb-0 pl-2">
            <h4 class="text-light">Register Refund</h4>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
             
              <div class="mb-3">
                <label for="loan_ref" class="form-label">Loan Reference</label>
                <input type="text" class="form-control" id="loan_ref" name="loan_ref">
                <label for="date_of_funding" class="form-label">Date of Funding</label>
                <input type="date" class="form-control" id="date_of_funding" name="date_of_funding">
                <label for="repayment_start_date" class="form-label">Repayment Start Date</label>
                <input type="date" class="form-control" id="repayment_start_date" name="repayment_start_date">
                <label for="no_of_fortnights" class="form-label">Number of Fortnights</label>
                <input type="number" class="form-control" id="no_of_fortnights" name="no_of_fortnights">
                <label for="interest_rate" class="form-label">Interest Rate</label>
                <input type="number" class="form-control" id="interest_rate" name="interest_rate" placeholder="Eg. 30 for 30%">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount">
                <label for="statement" class="form-label">Statement</label>
                <input type="file" class="form-control" id="statement" name="statement">
              </div>
              <br>
              <button type="submit" class="btn btn-primary">REGISTER</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Content Ends Here -->

 
{% endblock %}