{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block title %} Register Default {% endblock %}

{% block breadcrumb %} <a href="{% url 'dashboard' %}">Dashboard</a>  /  <a href="{% url 'loans' %}">Loans</a> {% endblock %}
{% block breadcrumb_active %} Register Default {% endblock %}
{% block dashboard_title %}  {% endblock %}



{% block content %}


<!-- Content Goes Here -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card mt-2 p-1">
        <div class="card-header bg-secondary m-0 pt-2 pr-1 pb-0 pl-2">
            <h4 class="text-light">Register Default</h4>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="loan_ref" class="form-label">Loan Reference</label>
                <input type="text" class="form-control" id="loan_ref" name="loan_ref">
                <label for="date_of_missed_repayment" class="form-label">Date of Missed Repayment</label>
                <input type="date" class="form-control" id="date_of_missed_repayment" name="date_of_missed_repayment" required>

              </div>
              <br>
              <button type="submit" class="btn btn-primary">REGISTER</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Content Ends Here -->

 
{% endblock %}