{% extends "loan_base.html" %}
{% load static %}
{% block title %} DCC Flagged {% endblock %}

{% block breadcrumb %} Dashboard {% endblock %}
{% block breadcrumb_active %} Profile {% endblock %}
{% block dashboard_title %} DCC Flagged {% endblock %}



{% block content %}

  <!-- Content Goes Here -->

  <div class="row mt-3 p-0">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header bg-secondary pt-2 pr-2 pb-0 pl-2">
          <h4 class="text-light">Profile is Flagged in DCC</h4>
        </div>
        <div class="card-body mt-0 pt-0">
          <div class="p-5">
            - REQUIREMENTS and Explainations Here
          </div>
        </div>
      </div>
    </div>
    
  </div>
 

  <!-- Content Ends Here -->

{% endblock %}

{% block scripts %}


{% endblock %}
