{% extends "loan_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Payment for Loan - {{ loan.ref }} {% endblock %}

{% block breadcrumb %} Dashboard {% endblock %}
{% block breadcrumb_active %} <a href="{% url 'myloans' %}">My Loans </a>{% endblock %}
{% block dashboard_title %} {{ loan.ref }} - Payment Upload {% endblock %}


{% block content %}



    <!-- Content Goes Here -->
    <div class="row mt-3">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
        <div class="card mt-2 p-1">
          <div class="card-header bg-secondary m-0 pt-2 pr-1 pb-0 pl-2">
            <h5 class="text-light"> Payment Upload </h5>
          </div>
          <div class="card-body m-0 p-2">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary">UPLOAD</button>
            </form>
          </div>
        </div>
      </div>
    </div>
   
  
    <!-- Content Ends Here -->
    


{% endblock %}







