{% extends "website/website_base.html" %}
{% load static %}

{% block title %}  DCC Policy {% endblock %}

{% block page_title %} DCC Policy {% endblock %}
{% block breadcrumb %}Home{% endblock %}
{% block breadcrumb_active %} DCC Policy {% endblock %}

{% block content %} 

<div class="row">
    <div class="container bg-dark p-2">
        <div class="row bg-light pt-5">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="card">
                    <img src="{% static 'website/imgs/dcc_logo.png' %}">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                
                <div class="container">
                    <p class="display-6 pb-1 pr-5 pl-5">DINAU <span class="text-primary">CONTROL</span> CENTER</p> 
                     <p>
                       
                        
                            Dinau Control Center (DCC) is like CDB which keeps track of People's Credit Data.
                        
                     </p>
                     <p>
                        LoanMasta is Automated with Dinau Control Center (DCC) Database where every one who uses LoanMasta share Customer Credit Data. 
                        Minimizing financial-loss risk is a key function in lending operations and to enable you to to achieve that,
                        LoanMasta works automatically with DCC to evaluate and share customer credit information, both personal 
                        and financial data.
                        </p>
                        <div>
                            <a href="http://www.dinaucontrolcentre.com/" target="_blank" class="btn btn-lg btn-success">Learn more about DCC</a>
                        </div>
                        
                        
                        
                </div>
            </div>
        </div>
        <div class="row bg-light pt-5">

            <div class="col-lg-12 col-md-12 col-sm-12">
                
                    <p class="p-3">

                    
                    In today's fast-paced financial landscape, having accurate and reliable credit information is crucial for making informed decisions. Dinau Control Center (DCC) serves as an indispensable resource for finance companies by providing comprehensive credit reporting and debt management services. With DCC, lenders and businesses gain access to detailed consumer and business credit histories, allowing them to assess creditworthiness accurately and mitigate risks. This level of insight helps prevent bad debts and ensures that lending decisions are based on solid data, promoting financial stability and growth.
                </p>
                <p class="p-3">
Moreover, DCC assists finance companies in managing defaults and debt recovery efficiently. By offering tools for tracking unpaid debts and providing expert strategies for debt collection, DCC helps improve cash flow and reduce financial losses. The monitoring and alert services keep finance companies informed of any changes in a debtor's status, enabling proactive management of potential risks. With robust data security measures in place, DCC ensures that all information is kept confidential and secure, giving finance companies the confidence to trust and rely on the data provided. Ultimately, DCC empowers finance companies to operate more effectively, making well-informed decisions that drive success and profitability.
</p>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                
                <div class="container">
                    <p class="display-1 pt-5 pb-1 pr-5 pl-5">DCC <span class="text-primary">is automated with</span> LOANMASTA</p> 
                    
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}