{% extends "website/website_base.html" %}
{% load static %}


{% block title %} How To Videos {% endblock %}

{% block page_title %} How To Videos {% endblock %}
{% block breadcrumb %}Home{% endblock %}
{% block breadcrumb_active %} How To Videos {% endblock %}

{% block content %} 


<div class="row">
    <div class="container p-2">
        <div class="row bg-light">
            <div class="col-lg-6 col-md-6 col-sm-12">
                
                    <div class="card shadow my-4 bg-white rounded mx-2 p-0">
                      <div class="card-header bg-success text-light m-1 p-2">
                        <h5 class="text-light pt-1">How to REGISTER</h5>
                    </div>
                    <div class="card-body m-0 p-0">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/HF1_K-292Bs?si=Wsyh1_Pm5ihh52TS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    
                </div>

                

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">

            

        </div>
           
        </div>
        
    </div>
</div>

{% endblock %}