.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1190px;
	height:1684px;
	position:absolute;
}
.e2_4 { 
	color:rgba(0, 0, 0, 1);
	width:1190px;
	height:28px;
	position:absolute;
	left:0px;
	top:134px;
	font-family:Tinos;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e2_9 { 
	color:rgba(0, 0, 0, 1);
	width:1107px;
	height:56px;
	position:absolute;
	left:40px;
	top:237px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_11 { 
	color:rgba(0, 0, 0, 1);
	width:1106px;
	height:56px;
	position:absolute;
	left:41px;
	top:1079px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_12 { 
	color:rgba(0, 0, 0, 1);
	width:516px;
	height:29px;
	position:absolute;
	left:41px;
	top:1203px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_16 { 
	color:rgba(0, 0, 0, 1);
	width:505px;
	height:29px;
	position:absolute;
	left:660px;
	top:1209px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_18 { 
	color:rgba(0, 0, 0, 1);
	width:457px;
	height:29px;
	position:absolute;
	left:708px;
	top:1287px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_19 { 
	color:rgba(0, 0, 0, 1);
	width:339px;
	height:29px;
	position:absolute;
	left:708px;
	top:1330px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_17 { 
	color:rgba(0, 0, 0, 1);
	width:236px;
	height:29px;
	position:absolute;
	left:708px;
	top:1247px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_14 { 
	color:rgba(0, 0, 0, 1);
	width:491px;
	height:29px;
	position:absolute;
	left:41px;
	top:1252px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_15 { 
	color:rgba(0, 0, 0, 1);
	width:471px;
	height:29px;
	position:absolute;
	left:51px;
	top:1301px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_7 { 
	color:rgba(0, 0, 0, 1);
	width:1190px;
	height:28px;
	position:absolute;
	left:0px;
	top:171px;
	font-family:Tinos;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e2_20 { 
	color:rgba(0, 0, 0, 1);
	width:1151px;
	height:29px;
	position:absolute;
	left:41px;
	top:1391px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_21 { 
	color:rgba(0, 0, 0, 1);
	width:1124px;
	height:120px;
	position:absolute;
	left:51px;
	top:1440px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_22 { 
	color:rgba(0, 0, 0, 1);
	width:1127px;
	height:48px;
	position:absolute;
	left:51px;
	top:1592px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_3 { 
	width:176px;
	height:118px;
	position:absolute;
	left:507px;
	top:12px;
	background-image:url(images/national_emblem_of_papua_new_guinea_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_25 { 
	color:rgba(0, 0, 0, 1);
	width:1103px;
	height:495px;
	position:absolute;
	left:62px;
	top:347px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
