.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1190px;
	height:1684px;
	position:absolute;
}.e1_3 { 
	width:400px;
	height:66.66666412353516px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_6 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:34px;
	position:absolute;
	left:0px;
	top:129px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_7 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:36px;
	position:absolute;
	left:0px;
	top:169px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_12 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:42px;
	position:absolute;
	left:464px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_8 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:42px;
	position:absolute;
	left:464px;
	top:129px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_13 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:42px;
	position:absolute;
	left:464px;
	top:163px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_9 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:42px;
	position:absolute;
	left:823px;
	top:85px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_10 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:42px;
	position:absolute;
	left:823px;
	top:121px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_14 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:42px;
	position:absolute;
	left:823px;
	top:166px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_11 { 
	color:rgba(0, 0, 0, 1);
	width:724px;
	height:48px;
	position:absolute;
	left:466px;
	top:23px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e1_5 { 
	color:rgba(0, 0, 0, 1);
	width:280px;
	height:38px;
	position:absolute;
	left:-2px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_16 { 
	color:rgba(0, 0, 0, 1);
	width:1190px;
	height:44px;
	position:absolute;
	left:-2px;
	top:264px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}