{% extends "website/website_base.html" %}

{% block title %} ACTIVATION SENT {% endblock %}
{% block content-header %} ACTIVATION SENT {% endblock %}
{% block breadcrumb-item %} ACTIVATION SENT {% endblock %}
{% block breadcrumb-item-active %} Activation Sent {% endblock %}


{% block content %}

<div class="col-lg-12">
  
  <div class="card mt-5">
      <div class="card-header pb-0">
        <h5 class="m-0 pb-0">ACTIVATION LINK SENT</h5>
      </div>
      <div class="card-body">
        
        <p class="card-text">Activation link has been sent to your email address. Please check your email and follow instructions in there.</p>
        
      </div>
    </div>
  
</div>
<!-- /.col-md-6 -->

</div>
<!-- /.col-md-6 -->

{% endblock %}
