{% extends "website/website_base.html" %}

{% block title %} ACTIVATION INVALID {% endblock %}
{% block content-header %} ACTIVATION INVALID {% endblock %}
{% block breadcrumb-item %} ACTIVATION INVALID {% endblock %}
{% block breadcrumb-item-active %} Activation Sent {% endblock %}


{% block content %}

<div class="col-lg-6">
  
  <div class="card">
      <div class="card-header">
        <h5 class="m-0">ACTIVATION INVALID</h5>
      </div>
      <div class="card-body">
        
        <p class="card-text">Activation link has expired.</p>
        
      </div>
    </div>
  
</div>
<!-- /.col-md-6 -->

</div>
<!-- /.col-md-6 -->

{% endblock %}
