{% load static }

{% block title %} {% endblock %}
<!-- if header_cta == 'yes' -->
{% block cta_link %} {% endblock %}
{% block cta_label %} {% endblock %}
<!-- endif header_cta-->
{% block subject %} {% endblock %}
{% block greeting %} {% endblock %}
{% block message %} {% endblock %}
{% block message_details %} {% endblock %}
<!-- if cta == 'yes' == -->
{% block cta_btn1_link %} {% endblock %}
{% block cta_btn1_label %} {% endblock %}
{% block cta_btn2_link %} {% endblock %}
{% block cta_btn2_label %} {% endblock %}
<!-- endif cta == -->
<!-- if promo == 'yes' -->
{% block catchphrase %}{% endblock %}
{% block promo_title %}{% endblock %}
{% block promo_message %}{% endblock %}
{% block promo_cta_link %}{% endblock %}
{% block promo_cta %}{% endblock %}
<!-- endif promo -->

