
{% extends 'e_email_template.html' %}
{% load static }

{% block title %} Reset Password {% endblock %}
{% block subject %} Reset Password {% endblock %}

{% block greeting %}
Hi,
{% endblock %}
{% block message %} 
Please click the following link to reset your password:
{% endblock %}
{% block message_details %} 
<a href="{{ domain }}{% url 'password_reset' uidb64=uid token=token %}">{{ domain }}{% url 'password_reset' uidb64=uid token=token %}</a>
{% endblock %}
{% block cta_btn1_label %} RESET {% endblock %}
{% block cta_btn1_link %} {{ domain }}{% url 'password_reset' uidb64=uid token=token %} {% endblock %}