{% extends "website/website_base.html" %}

{% block title %} RESET LINK SENT {% endblock %}
{% block content-header %} RESET LINK SENT {% endblock %}
{% block breadcrumb-item %} RESET LINK SENT {% endblock %}
{% block breadcrumb-item-active %} Reset Link Sent {% endblock %}


{% block content %}

<div class="col-lg-6">
  
  <div class="card">
      <div class="card-header">
        <h5 class="m-0">RESET LINK SENT</h5>
      </div>
      <div class="card-body">
        
        <p class="card-text">Password Reset link has been sent to your email address. Please check your email and click on the link to reset your password.</p>
        
      </div>
    </div>
  
  </div>
  <!-- /.col-md-6 -->
  <div class="col-lg-6">  

  </div>
</div>
<!-- /.col-md-6 -->

{% endblock %}
