{% extends "acc_allpagebase.html" %}

{% load static %}

{% block title %} Reset Password Form {% endblock %}

{% block custom_css %}
<style>

  label {
    margin-top: 10px;
  
    display: block;
    width: 100%;
   
  }

  .btn {
    margin-top: 10px;
  }
    
</style>

{% endblock custom_css %}

{% block content %}


{% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible text-dark" role="alert">
        <span class="text-md">{{ message }}</span>
        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
          
        </button>
      </div>
      {% endfor %}
      {% endif %}
      
<div class="row mt-1">
  <div class="col-lg-6">
    <div class="card">
        <div class="card-header">
          <h5 class="m-0">Reset Password</h5>
        </div>
        <div class="card-body">

          <form method="post">
            {% csrf_token %}
            
            {{ form }}
            
            <br>
            <button type="submit" class="btn btn-success btn-sm">Reset</button>
          </form>
          <br>
          <p>Remember your password? <a href="{% url 'login_user' %}">Login</a>

        </div>
      </div>
  </div>
  <!-- /.col-md-6 -->
  <div class="col-lg-6">
    
  </div>
  <!-- /.col-md-6 -->
</div>
{% endblock %}


{% block javascript %}

{% include 'material/includes/material_js.html' %}

{% endblock %}
