{% extends "dashboard_base.html" %}
{% load static %}
{% block title %} Support {% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %} Dashboard {% endblock %}
{% block breadcrumb_active %} Support {% endblock %}
{% block dashboard_title %} Support System {% endblock %}

{% block content %}

  <!-- Content Goes Here -->
  <div class="row mt-3 p-2">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header bg-secondary pt-2 pr-2 pb-0 pl-2">
          <h4 class="text-light p-2">SUPPORT SYSTEM</h4>
        </div>
        <div class="card-body mt-0 pt-0">
          <div class="p-5">
            Support Ticket System is currently being developed to be rolled out in version 1.1 which is planned within approvximately 2 months time.
          </div>
        </div>
      </div>
    </div>
    
  </div>





  <!-- Content Ends Here -->

{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}


{% endblock %}
