{% extends "dashboard_base.html" %}

{% block title %} My Profile {% endblock %}

{% block breadcrumb %} Dashboard {% endblock %}
{% block breadcrumb_active %} Profile {% endblock %}
{% block dashboard_title %} My Profile {% endblock %}

{% block content %}

<div class="container-fluid py-1">

  <!-- Content Goes Here -->
  
  <div class="row p-2">
    
    <div class="card p-5">
        <ul>

            <li>
               <h4>Email Admin & User for Loan Cancelation</h4> 

            </li>
            <li>
                
                <h4>Email Admin for Upload</h4> 
               
             </li>
             <li>
               
                <h4>Email upload processed email to user </h4>
             </li>

        </ul>
    </div>


   
  </div>



  




  <!-- Content Ends Here -->
  
</div>

{% endblock %}