<html>
    <head>
          <meta name="viewport" content="width=device-width">
          <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
          <title>Monitor is  UP : NARI
          </title>
    </head>
    <body style="font-family: 'Roboto', Arial, sans-serif; color: #131a26; background: #fefefe; line-height: 1.3em;">
      <div style="font-family: 'Roboto', Arial, sans-serif; color: #131a26; background: #fefefe; box-sizing: border-box; line-height: 1.3em;">
        <div style="background: #131a26; padding: 45px 15px;">
          <div style="max-width: 600px; margin: 0 auto;">
            <table style=" width: 100%; font-size: 14px; color: #ffffff;" width="100%">
              <tbody style="">
                <tr style="">
                  <td width="180" style=" font-size: 36px;">
                    <a href="#" style=" color: #3bd671 !important;">
                      <img src="https://cdn.mcauto-images-production.sendgrid.net/3e8054f26aace367/6a696f89-4c68-4736-83c3-c08df64e1a0d/549x79.png" alt="UptimeRobot" width="180" style=" max-width: 180px; display: inline-block;">
                    </a>
                  </td>
                  <td style="text-align: right; font-size: 12px; align:right;">
                    <a href="#" style=" color: #3bd671 !important; text-decoration: none;">Go to monitor &rarr;</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <h1 style="font-size: 36px; color: #ffffff; margin-top: 45px; margin-bottom: 10px; line-height: 28px;">
                NARI is <span style="color:#3bd671">up</span>.
              </h1>
            </div>
          </div>
        </div>
        <div style="max-width: 600px; margin: 30px auto 0 auto; padding: 0 10px;">

          <div style="background: #ffffff; border-radius: 6px; box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1); padding: 25px; border: 1px solid #efefef; font-size: 14px; margin-bottom: 25px;">
            <div>
              <p style="line-height: 20px;">Hello WEBHOST-PNG,</p>
                <p style="line-height: 20px;">The latest incident has been resolved and your monitor is up again. Good job!</p>
            </div>

            <div style="padding: 20px; background-color: #f9f9f9; border-radius: 6px; margin-top: 25px; line-height: 16px;">

              <div style="font-size: 12px; color: #687790;">Monitor name</div>
              <h2 style="font-size: 14px; margin-bottom: 5px; margin-top: 3px;">NARI</h2>
              <hr style="border: 1px solid #dedede; border-bottom: 0; margin: 10px 0;">

              <div style="color: #687790; font-size: 12px;">Checked URL</div>
              <h2 style="font-size: 14px; margin-bottom: 5px; margin-top: 3px; line-height: 16px;"><code>
                <a href="https://www.nari.org.pg" style="color: #131a26 !important; text-decoration: none !important;">https://www.nari.org.pg</a></code></h2>
              <hr style="border: 1px solid #dedede; border-bottom: 0; margin: 10px 0;">

              <div style="color: #687790; font-size: 12px;">Root cause</div>
              <h2 style="font-size: 14px; margin-bottom: 5px; margin-top: 3px;">
                  HTTP 404 - Not Found
              </h2>
              <hr style="border: 1px solid #dedede; border-bottom: 0; margin: 10px 0;">

              <div style="font-size: 12px; color: #687790;">Incident started at</div>
              <h2 style="font-size: 14px; margin-bottom: 5px; margin-top:3px;">2022-07-28 22:55:38</h2>
              <hr style="border: 1px solid #dedede; border-bottom: 0; margin: 10px 0;">

              <div style="font-size: 12px; color: #687790;">Resolved at</div>
              <h2 style="font-size: 14px; margin-bottom: 5px; margin-top: 3px;">2022-07-28 23:10:37</h2>
              <hr style="border: 1px solid #dedede; border-bottom: 0; margin: 10px 0;">

              <div style="font-size: 12px; color: #687790;">Duration</div>
              <h2 style="font-size: 14px; margin-bottom: 5px; margin-top: 3px;">14 minutes and 59 seconds</h2>

              <div style="text-align: center; padding: 15px 0;">
                <table>
                  <tr>
                    <td>
                      <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                              <td align="left" style="border-radius: 25px; background-color: #3bd671; text-align: center;">
                                  <a href="#" target="_blank" style="font-size: 16px; color: #ffffff !important; font-weight: bold; text-decoration: none;border-radius: 25px; padding: 12px 25px; border: 1px solid #3bd671; display: inline-block;">View incident details</a>
                              </td>
                          </tr>
                      </table>
                    </td>
                    <td align="left" style="border-radius: 25px; text-align: center; padding-left: 10px;">
                        <a href="#" target="_blank" style="font-size: 16px; color: #3bd671 !important; font-weight: bold; text-decoration: none; border-radius: 25px; padding: 12px 25px; border: 1px solid #3bd671; display: inline-block;">Comment incident</a>
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </div>

<div style='margin-bottom: 25px;'>
  <table style='width: 100%;'>
    <tr>
      <td style='background: #131a26; color: #ffffff; border-radius: 6px; box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1); padding: 25px; border: 1px solid#efefef; font-size: 14px; border: 0;'>
<h2>
  <strong style="color: orange;">TIP:</strong> Resolve incidents, write a post mortem, rinse and repeat!
</h2>
<p>
  Comment the incidents, so you can analyze what happened, when and why, to overcome the issues in the future. <strong><a href="#" style="color: #3bd671;">Find out more</a>
</p>

</td>
              </tr>
            </table>
          </div>
          <div style="border-top: 1px solid #dedede; font-size: 12px; color: #687790; text-align: center; padding: 25px 0;">
              This email was sent by
              <a href="#" style="color:#3bd671 !important;">UptimeRobot</a>.

              You can update your alert preferences in the  <a href="#" style=" color: #3bd671 !important;">dashboard</a>.
          </div>
        </div>
      </div>
  </body>
</html>
