{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Customer Credit Rating  {% endblock %}

{% block breadcrumb %} <a href="{% url 'staff_dashboard' %}">Dashboard</a> {% endblock %}
{% block breadcrumb_active %} Credit Rating {% endblock %}
{% block dashboard_title %} Customer Credit Rating {% endblock %}

{% block content %}


  <!-- Content Goes Here -->
  <div class="row mt-3 p-2">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header bg-secondary pt-2 pr-2 pb-0 pl-2">
          <h4 class="text-light p-2">Customer Credit Rating</h4>
        </div>
        <div class="card-body mt-0 pt-0">
          <div class="p-5">
            Credit Rating for each customer will be automatically calculated by the system depending on Customer Repayment Behaviour and DCC Data Feed.
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- Content Ends Here -->

 
{% endblock %}


