
{% extends "staff_base.html" %}
{% load static %}
{% load humanize %}

{% block title %} Loans {% endblock %}

{% block breadcrumb %} <a href="{% url 'admin_dashboard' %}">Admin Dashboard</a>  /  <a href="{% url 'loans' %}">Loans</a> {% endblock %}
{% block breadcrumb_active %} All {% endblock %}
{% block dashboard_title %} All Loans {% endblock %}

{% block css %}

<!-- DataTables LOCAL CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>   

<style>
  .flex-container {
    display: flex;
  }
  
  .flex-child {
    flex: 1;
  }  
  
  .flex-child:first-child {
    margin-right: 5px;
  } 
  .flex-child:last-child {
    margin-left: 5px;
  } 
</style>

{% endblock %}


{% block content %}


  <!-- Content Goes Here -->
  

 



  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- ALL LOANS -->
      <div class="card my-3">
          <div class="card-header bg-secondary p-0 position-relative mt-n2 mx-3 z-index-2">
              <h6 class="text-white text-center pt-2 pb-1">
                {% if loantype %}<span class="badge bg-primary text-md" style="color:yellow;">{{ loantype }}</span>{% endif %}
              LOANS 
              {% if cuscat %}of <span class="badge bg-primary text-md" style="color:yellow;">{{ cuscat }}{% if cuscat != "STAFF" %}S{% endif %}</span>{% endif %}
              {% if startdate and enddate %}- Funded from <span class="badge bg-primary text-md" style="color:yellow;">{{ startdate }}</span> to <span class="badge bg-primary text-md" style="color:yellow;">{{ enddate }}</span>{% endif %}
              </h6>
          </div>
        <div class="card-body px-0 p-1">
          <div class="table-responsive p-1">
            <table id="allLoansTable" class="table table-striped table-hover align-items-center justify-content-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Loan Ref</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">First Name</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Last Name</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Repayment</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">FNs</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Outstanding</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Status</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">MAKE PAYMENT</th>

                </tr>
              </thead>
              <tbody>
                {% for loan in loans %}
                <tr>
                  <TD>
                      <div class="d-flex px-1">
                          <div>
                         {% if loan.owner.propic_url %}<img src="{{ loan.owner.propic_url }}" class="avatar avatar-xs rounded-circle me-1" alt="invision">{% else %}<img src="{% static 'img/profilepicture.png' %}" class="avatar avatar-xs rounded-circle me-1" alt="invision">{% endif %}
                          </div>
                          <div class="my-auto">
                          <h6 class="mb-0 text-xs text-primary"><a href="{% url 'view_loan_staff' loan.ref %}">{{ loan.ref }}</a></h6>
                          </div>
                      </div>
                  </TD>
                  <TD>
                    <a href="{% url 'view_member' loan.owner.id %}">
                      <span class="text-xs font-weight-bold text-primary">{{ loan.owner.first_name}} 
                      {% if loan.owner.middle_name != None %}
                        {{ loan.owner.middle_name}} 
                      {% endif %} 
                      
                    </span>
                    </a>
                  </TD>
                  <TD>
                    <a href="{% url 'view_member' loan.owner.id %}">
                      <span class="text-xs font-weight-bold text-primary">
                      {{ loan.owner.last_name}}
                      </span>
                    </a>
                  </TD>
                 
                  
                  
                  <TD>
                    <span class="text-xs font-weight-bold">{{ loan.repayment_amount|default_if_none:"0"|floatformat:2|intcomma }}</span>
                  </TD>
                  <TD>
                    <span class="text-xs font-weight-bold">{{ loan.number_of_fortnights }}</span>
                  </TD>
                  
                 
                  <TD>
                    <span class="text-xs font-weight-bold">{{ loan.total_outstanding|default_if_none:"0"|floatformat:2|intcomma }}</span>
                  </TD>
                  <TD class="align-middle text-xs">
                   <span class="badge badge-sm bg-gradient-{% if loan.status == 'RUNNING' %}success{% elif loan.status == 'DEFAULTED' %}danger{% else %}info{% endif %}">{{ loan.status }}</span>
                  </TD>
                  <TD class="align-middle">
                    <a href="{% url 'trupng_payment' loan.ref %}">
                    <button class="btn btn-lg bg-primary text-light m-0 pt-0 pb-0 pl-2 pr-2" >
                      <i class="fa-solid fa-upload"></i>
                    </button>
                    </a>
                  </TD>
                
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Content Ends Here -->

  

 
{% endblock %}



{% block scripts %}




<!-- DATATables LOCAL JS -->
<script defer type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>   

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/kt-2.7.0/sp-2.0.2/datatables.min.js"></script>

<script>
    $("#allLoansTable").DataTable({
        // DataTable configurations
        paging: true,
        pageLength: 10,
        lengthChange: true,
        autoWidth: true,
        searching: true,
        bInfo: true,
        bSort: true,

        dom: 'lBfrtip',
        buttons: [
            {
                extend: 'copy',
                text: '<i class="fa fa-solid fa-copy"></i>',
                className: 'btn btn-secondary',
                titleAttr: 'Copy Data',
                // Choose Columns
                exportOptions: {
                  columns: [0,1,2,3,4,5,6,7,8,9]
                }
            },
            {
              extend: 'excel',
              text: '<i class="fa fa-solid fa-file-excel"></i>',
              className: 'btn btn-secondary',
              titleAttr: 'Export to Excel',
              // Choose Columns
              exportOptions: {
                columns: [0,1,2,3,4,5,6,7,8,9]
              }
            },
            {
              extend: 'print',
              text: '<i class="fa fa-solid fa-print"></i>',
              className: 'btn btn-secondary',
              titleAttr: 'Print Table',
              // Choose Columns
              exportOptions: {
                columns: [0,1,2,3,4,5,6,7,8,9]
              },
              // Font size when printing
              customize: function ( win ) {
                $(win.document.body).css('font-size', '10pt')
                $(win.document.body).find('table')
                  .addClass('compact')
                  .css('font-size', 'inherit');
              }
            },
            {
              extend: 'pdf',
              text: '<i class="fa fa-solid fa-file-pdf"></i>',
              className: 'btn btn-secondary',
              titleAttr: 'Export to PDF',
              orientation: 'landscape',
              pageSize: 'A4',
              
              // Choose Columns
              exportOptions: {
                columns: []
              },
              
              // center the table
              tableHeader: {
                alignment: 'left'
              },
              // Font size & Customization
              customize: function (doc) {
              //      doc.style.tableHeader.alignment = 'center'; // Header position 
                   // doc.style.tableBodyOdd.alignment = 'center';
                  // doc.style.tableBodyEven.alignment = 'center';
              //      doc.style.tableHeader.fontSize = 7;
               //     doc.defaultStyle.fontSize = 6;
              //      // TO GET 100% width on table
                   doc.content[1].table.widths = Array(doc.content[1].table.body[1].length + 1).join('*').split('');
              },
              
            },
            {
              extend: 'collection',
              className: 'custom-html-collection',
              buttons: [
                  '<h6>Export</h6>',
                  'csv',
                  '<h6 class="not-top-heading">Hide/Show Columns</h6>',
                  'colvis',
              ]
          }

        ]
    });
</script>



{% endblock %}