<h4>
    Part E - Credit information - Authority to obtain and provide personal,
    financial and credit information
    </h4>
    <ul>
        <li>
            13. The borrower authorizes {{ company }} to:<br />
            <ul class="tcul">
            <li>
                a) Obtain a credit report containing personal financial & credit
                information in relation to the borrower from a Credit Agency;
            </li>
            <li>
                b) Utilize the credit report to assist in the assessment of any loan
                or credit application by the borrower.
            </li>
            <li>
                c) Exchange personal financial and credit information in relation to
                the borrower with other credit providers including details of loans
                obtained from {{ company }}; and
            </li>
            <li>
                d) Inform a Credit Reporting Agency in line with Part F of any default
                in repayment of the credit provided to the borrower(s).
            </li>
            </ul>
        </li>
    </ul>

    <h4>Part F1 - Credit & Data Bureau (CDB)</h4>
    <ul>
        <li>
            14. The Borrower’ herein agrees that his/her name and ALL Particulars used
            in the Applications form including any additional information in the
            attachments that form part of the loan application will be entered into
            CDB under the fullowing conditions:
            <br />
            <ul class="tcul">
            <li>
                a) The Borrow fails to pay the agreed amount including default
                interests as specified in Part D – Clause 9 a) before the next term
                and continuously defaults as prescribed.
            </li>
            <li>
                b) CDB will be updated every term to Reflect the accumulated or
                compounded interest which is payable for name to be cleared from CDB
                records.
            </li>
            </ul>
        </li>
    </ul>

    <h4>Part F2 - Dinau Control Center (DCC)</h4>
    <ul>
        <li>
            14. The Borrower’ herein agrees that his/her name and ALL Particulars used
            in the Applications form including any additional information in the
            attachments that form part of the loan application will be entered into
            DCC under the fullowing conditions:
            <br />
            <ul class="tcul">
            <li>
                a) The Borrow fails to pay the agreed amount including default
                interests as specified in Part D – Clause 9 a) before the next term
                and continuously defaults as prescribed.
            </li>
            <li>
                b) DCC will be updated every term to Reflect the accumulated or
                compounded interest which is payable for name to be cleared from DCC
                records.
            </li>
            </ul>
        </li>
    </ul>