{% extends 'custom/email_template.html' %}
{% load static }

{% block title %}{{ subject }}{% endblock %}
<!-- if header_cta == 'yes' -->
{% block cta_link %}{{ cta_link }}{% endblock %}
{% block cta_label %}{{cta_label}}{% endblock %}
<!-- endif header_cta-->
{% block subject %}{{ subject }}{% endblock %}
{% block greeting %}{{ greeting }}{% endblock %}
{% block message %}{{ message|safe }}{% endblock %}
{% block message_details %}{{ message_details }}{% endblock %}
<!-- if cta == 'yes' == -->
{% block cta_btn1_link %}{{ cta_btn1_link }}{% endblock %}
{% block cta_btn1_label %}{{ cta_btn1_label }}{% endblock %}
{% block cta_btn2_link %}{{ cta_btn2_link }}{% endblock %}
{% block cta_btn2_label %}{{ cta_btn2_label }}{% endblock %}
<!-- endif cta == -->
<!-- if promo == 'yes' -->
{% block catchphrase %}{{ catchphrase }}{% endblock %}
{% block promo_title %}{{ promo_title }}{% endblock %}
{% block promo_message %}{{ promo_message }}{% endblock %}
{% block promo_cta_link %}{{ promo_cta_link }}{% endblock %}
{% block promo_cta %}{{ promo_cta }}{% endblock %}
<!-- endif promo -->




