
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Statutory Declaration</title>
    <meta name="description" content="Statutory Declaration htmlGenerator" />
    <meta name="author" content="StatutoryDeclarationGenerator" />
    <link href="https://fonts.googleapis.com/css?family=Tinos&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{{ domain }}/static/generate/stat_dec/styles.css" />

  </head>

  <body>
    <div class="e1_2">
      <span class="e2_4">PAPUA NEW GUINEA</span
      ><span class="e2_9"
        >I, (a) <u><span>{{ user.first_name }} {{ user.last_name }}</u></span> of <u><span>{{ user.residential_address }}</u></span> <br><br>do
        solemnly and sincerely declare that (b)</span
      >
      <br><br>
      <span class="e2_11"
        >AND I MAKE this solemn declaration by Virtue of the Oaths, Affirmations
        and Statutory Declaration Act 1962 conscientiously believing the
        statements contained therein to be true in every particular.</span
      ><span class="e2_12">Declared at ____________________________</span
      ><span class="e2_16">(c) _________________________</span
      ><span class="e2_18">(d) ____________________</span
      ><span class="e2_19">(e) ____________________</span
      ><span class="e2_17">Before me:-</span
      ><span class="e2_14">The _____________________________ day of</span
      ><span class="e2_15">_________________________________, 2023</span
      ><span class="e2_5">STATUTORY DECLARATION</span
      ><span class="e2_7">STATUTORY DECLARATION</span
      ><span class="e2_20"
        >__________________________________________________________________________________________________________</span
      ><span class="e2_21"
        ><i>(a) Here insert name, address and occupation of person making the
        declaration. 
        <br>
        (b) Here insert the matter declared to. Where the matter is
        long it should be set out in numbered paragraphs. 
        <br>
        (c) Signature of
        person making declaration. 
        <br>
        (d) Signature of person before whom the
        declaration is made. 
        <br>
        (e) Here insert title of person before whom the
        declaration is made.</i></span
      ><span class="e2_22"
        >Note: Any person who willfully makes a false statement in a Statutory
        Declaration is guilty of an indictable offence, and is liable to
        imprisonment, with or without hard labour, for four (4) years.</span
      >
      <div class="e2_3"></div>
      <span class="e2_25"
        >1. I am the borrower who borrows the loan amount from {{ settings.COMPANY_NAME }} and below are the details;
        <br><br>
        (i) Loan
        Amount: K <u><span>{{ loan.amount }}</u></span>
        <br><br>
        (ii) Interest
        Charged <u><span>{{ loan.interest }}</u></span>
        <br><br>
        (iii)Total Loan
        <u><span>{{ loan.total_outstanding }}</u></span>
        <br><br>
        2. In the event that, I fail to repay the above loan amount if it has an
        outstanding including all fees and charges to any circumstances, I
        hereby authorize the United Finance Limited to recoup same from my final
        entitlement, POSF, NAMBAWAN SUPA, NASFUND, FINISH PAY or such other
        savings without my interference. 
        <br><br>
        3. The foregoing is true in every
        particular.</span
      >
    </div>
  </body>
</html>
