<h4>Part A - Terms</h4>
<ul>
    <li>
        “Borrower”, “Member” and “Client” refers to the person applying to get a loan.
    </li>
    <li>
        “{{ company }}® ”, “We”, “Lender”, “Agent” and “Our” refers to {{ company }}®
    </li>
    <li>
        “Term” refers to days specified on the application from by the borrower,
        Includes weekends.
    </li>
    <li>
        “Application Form” refers to the online application form located at
        ‘{{ domain }}‘
    </li>
</ul>

<h4>Part B - Borrowers Obligations</h4>
<ul>
    <li>
        1. The borrower (s), as herein, hereby agrees under contract to borrow the
        principle sum “Amount” selected in the Application Form which is to
        be paid in full (principle, interests, defaults and any fee(s)) according
        to the application within the term specified.
    </li>
    <li>
        2. The Borrower agrees to make payment(s) every fortnight on the pay date(s) by fortnight deduction(s).
    </li>
    <li>
        3. The borrower is to immediately advise {{ company }} of any changes in
        residential address or employment or Bank Related Issues.
    </li>
    <li>
        4. Should the borrower resign from, or be terminated by their employer,
        any entitlements with their employer shall, in the first instance, be
        directed to {{ company }} to meet associated debt obligations.
    </li>
</ul>

<h4>Part C - Interest Rate</h4>
<ul>
    <li>
        5. Interest is as specified on the Application Form. Interest is factored in the Repayment Table.
    </li>
    <li>
        6. Borrower(s) accepts and agrees to pay the full interest applied for the
        term(s) and all other accumulated interests as a result of default as
        specified in Part D.
    </li>
    <li>
        7. Borrow acknowledges that CDB interests will be settled with all
        compounded accumulated interests that form the basis of the CDB data as
        stipulated in Part E of this agreement.
    </li>
</ul>

<h4>Part D - Default</h4>
<ul>
    <li>
        8. An act of default will be deemed to have taken place under the
        fullowing circumstances:<br />
        <ul class="tcul">
        <li>
            a) The borrower fails to repay any component of principle or interest
            within 24 hours after the Due DATE and time elapses.
        </li>
        <li>
            b) The borrower provides false or misleading information or data in
            relation to this agreement.
        </li>
        <li>c) The borrower becomes insulvent or is declared bankrupt.</li>
        </ul>
    </li>
    <li>
        9. Should the borrower suffer an act of default, as defined above,<br />
        <ul class="tcul">
        <li>
            a) A Default Interest will be calculated and added onto the existing balance.
        </li>
        <li>
            b) If the borrower does not pay the defaulted loan to a point where
            the number of fortnights defaulted is 3 fortnights, Legal Action will be taken.
        </li>
        <li>
            c) during such a condition described by the preceding sub-clause (b)
            of this clause, all monies owing to {{ company }} becomes due and payable
            on demand and all clauses in Part F applies.
        </li>
        <li>
            d) under condition prescribed in sub-clause b) and/or c) of this
            clause, {{ company }} will INITIATE DEBT RECOVERY MEASURES which may
            include enforcement and engagement of any enforcement agency or
            individual at any cost, where arranged for by {{ company }} or charged by
            the enforcement party as service fee for the enforcement exercise(s).
        </li>
        </ul>
    </li>
    <li>
        10. As per Clause 8, the borrower may incur enforcement expenses should
        the loan fall into default as defined under Clause 9 sub-clause a), b), c)
        and d).
    </li>
    <li>
        11. Such expenses and costs include associated expenses reasonably
        incurred by {{ company }} when exercising its right of enforcement and/or all
        other expenses and damages incurred by {{ company }} as a direct or indirect
        result of the borrower breaching the terms and conditions contained
        herein.
    </li>
    <li>
        12a. Such expenses, as referred to in Clause 11, may be added to your
        existing loan balance at any time and at the discretion of {{ company }}.
        Accordingly, the loan balance becomes due and payable on demand.
    </li>
    <li>
        12b. {{ company }} has the right to device any means of fund recovery at its
        sole discretion.
    </li>
</ul>

<h4>
Part E - Credit information - Authority to obtain and provide personal,
financial and credit information
</h4>
<ul>
    <li>
        13. The borrower authorizes {{ company }} to:<br />
        <ul class="tcul">
        <li>
            a) Obtain a credit report containing personal financial & credit
            information in relation to the borrower from a Credit Agency;
        </li>
        <li>
            b) Utilize the credit report to assist in the assessment of any loan
            or credit application by the borrower.
        </li>
        <li>
            c) Exchange personal financial and credit information in relation to
            the borrower with other credit providers including details of loans
            obtained from {{ company }}; and
        </li>
        <li>
            d) Inform a Credit Reporting Agency in line with Part F of any default
            in repayment of the credit provided to the borrower(s).
        </li>
        </ul>
    </li>
</ul>

<h4>Part F - Credit & Data Bureau (CDB)</h4>
<ul>
    <li>
        14. The Borrower’ herein agrees that his/her name and ALL Particulars used
        in the Applications form including any additional information in the
        attachments that form part of the loan application will be entered into
        CDB under the fullowing conditions:
        <br />
        <ul class="tcul">
        <li>
            a) The Borrow fails to pay the agreed amount including default
            interests as specified in Part D – Clause 9 a) before the next term
            and continuously defaults as prescribed.
        </li>
        <li>
            b) CDB will be updated every term to Reflect the accumulated or
            compounded interest which is payable for name to be cleared from CDB
            records.
        </li>
        </ul>
    </li>
</ul>

<h4>Part G - Indemnity by Borrower</h4>
<ul>
    <li>
        15. It is acknowledged that the borrower has read and understood and acknowledged the information
        contained within this agreement.
    </li>
</ul>

<h4>Part H - Borrower's Acknowledgement & Agreement</h4>
<ul>
    <li>
        16. The borrower acknowledges and agrees that:<br />
        <ul class="tcul">
        <li>
            (a) S/he has fully read and understands the terms and conditions set
            out in the leading Clauses
        </li>
        <li>
            (b) by giving consent, they acknowledge these conditions and 
            are aware that they are legally bound by the said terms
            and conditions contained herein.
        </li>
        <li>
            (c) even without putting a signature according to sub-clause (b) of
            this clause, by consenting, the borrower agrees to be bound by the terms and
            conditions contained herein.
        </li>
        <li>
            (d) the date when the Application Form is submitted is considered the
            date when the borrower agrees to these terms and conditions as
            specified in sub-clause (b) within this clause.
        </li>
        <li>
            (e) a member or a known client who requests funds through: a phone
            call, a sms, WhatsApp, Facebook, Messenger, email, or by any other
            means including verbally, also acknowledges these agreement(s) and is
            equally bound by the agreement(s) specified herein and by requesting
            funds, if funded, are subject to all these agreement(s). By accepting
            funds they accept to be bound by these terms and conditions and the
            date the funds are received becomes the date when borrower agrees to
            these terms and conditions.
        </li>
        </ul>
    </li>
</ul>