.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:892.5pt;
	height:1263pt;
	position:absolute;
}
.e1_3 { 
	width:75pt;
	height:69.67212677001953pt;
	position:absolute;
	left:408pt;
	top:21pt;
	background-image:url(images/pngsme_foundation_logo_tm_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_4 { 
	color:rgba(0, 0, 0, 1);
	width:386pt;
	height:25pt;
	position:absolute;
	left:253pt;
	top:108pt;
	font-family:Inter;
	text-align:center;
	font-size:21pt;
	letter-spacing:0;
}
.e1_5 { 
	color:rgba(0, 0, 0, 1);
	width:496pt;
	height:34pt;
	position:absolute;
	left:248pt;
	top:208pt;
	font-family:Inter;
	text-align:left;
	font-size:28pt;
	letter-spacing:0;
}
.e1_7 { 
	color:rgba(0, 0, 0, 1);
	width:91pt;
	height:18pt;
	position:absolute;
	left:89pt;
	top:176pt;
	font-family:Inter;
	text-align:left;
	font-size:18pt;
	letter-spacing:0;
}
.e1_8 { 
	color:rgba(0, 0, 0, 1);
	width:721pt;
	height:743pt;
	position:absolute;
	left:89pt;
	top:350pt;
	text-align:justified;
	font-size:18pt;
	letter-spacing:0;
}
.e1_9 { 
	color:rgba(0, 0, 0, 1);
	width:721pt;
	height:39pt;
	position:absolute;
	left:89pt;
	top:283pt;
	font-family:Inter;
	text-align:left;
	font-size:21pt;
	letter-spacing:0;
}
.e2_2 { 
	color:rgba(0, 0, 0, 1);
	width:726pt;
	height:22pt;
	position:absolute;
	left:89pt;
	top:128pt;
	font-family:Inter;
	text-align:center;
	font-size:18pt;
	letter-spacing:0;
}
